<!-- <button class="btn btn-primary" (click)="childModal.show()">Large modal</button> -->

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="childModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <div class="panel"></div>
              <p>Keywords: {{keywords}}</p>
              <p>First Name: {{firstName}}</p>
              <p>Last Name: {{lastName}}</p>
              <p>Email: {{email}}</p>
              <p>Phone: {{phone}}</p>
              <p>City: {{city}}</p>
              <p>State: {{state}}</p>
              <p>Range: {{range}}</p>
            </div>
        </div>
    </div>
</div>
