<h2>Find Candidates</h2>
<hr>
<h4>Search</h4>

<form #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm.value)">
  <div id="toggleDiv" #toggleDiv>

    <label for="keywords">Keywords</label>
    <input type="text" name="keywords" id="keywords" (ngModel)="keywords" placeholder="Type your keywords..." >

    <label for="firstName">First Name</label>
    <input type="text" name="firstName" id="firstName" class="medInput" (ngModel)="firstName" #entry>

    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" id="lastName" class="medInput" (ngModel)="lastName">

    <label for="email">Email</label>
    <input type="text" name="email" id="email" class="medInput" (ngModel)="email">

    <label for="phone">Phone</label>
    <input type="text" name="phone" id="phone" class="medInput" (ngModel)="phone">

    <label for="city">City</label>
    <input type="text" name="city" id="city" (ngModel)="city">

    <label for="State">State</label>
    <input type="text" name="state" id="state" (ngModel)="state">

    <label for="zip">Zipcode</label>
    <input type="text" name="zip" id="zip" (ngModel)="zip">

    <label for="range">Range</label>
    <select name="range" id="range" (ngModel)="range">
      <option selected="selected">Select</option>
      <option *ngFor="let r of ranges" [value]="r">{{r}}</option>
    </select>

  </div>

  <div class="dividerDiv">
    <p>Additional Search Options</p>
    <p class="right" id="toggleButton" (click)="toggle();" #toggle>Hide ^</p>
  </div>

  <div class="additionalSearch">
    <label for="history">Submittal History</label>
    <select name="history" id="history" class="medInput" (ngModel)="history">
      <!-- FILL OUT WITH OPTIONS  -->
    </select>

    <label for="jobCategory">jobCategory</label>
    <select name="jobCategory" id="jobCategory" class="medInput" (ngModel)="jobCategory">
      <!-- FILL OUT WITH OPTIONS  -->
    </select>
  <!-- </div> -->

<!-- [disabled]="searchForm.ng-pristine" -->
<!-- [disabled]="entry.ng-pristine" -->
  <button class="searchBtn" type="submit" (click)="modal.showChildModal()">SEARCH</button>
  </div>
  <app-modal #modal [first]="searchForm.value.firstName"
    [last]="searchForm.value.lastName"
    [keywords]="searchForm.value.keywords"
    [email]="searchForm.value.email"
    [phone]="searchForm.value.phone"
    [city]="searchForm.value.city"
    [state]="searchForm.value.state"
    [range]="searchForm.value.range">
  </app-modal>

</form>

<p><i>
  You must first enter at least one search term in order to get search results.
</i></p>
